.how-to-play {
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.description {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 24px;
  font-weight: 800;
}
